$nav-bg-color: #da1b1b;
$align-items: center;
$icon-size: 24px;


nav {
  background-color: $nav-bg-color;
  padding: 1rem 2rem;

  >div {
    display: flex;
    gap: 5rem;
    align-items: $align-items;
    justify-content: center;

    >div {
      display: flex;
      align-items: $align-items;
      gap: 1rem;

      img {
        width: $icon-size;
        height: $icon-size;
        object-fit: contain;
      }

      a {
        color: #eee;
        font-weight: 600;

        &:hover {
          color: #000000;
        }
      }
    }
  }
}